body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
#app{
   display: flex; 
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   /* border:  2px solid red; */

}
.box {
    background-color: white;
    border: 1px solid #ddd;
    width: 150px; /* Fixed width for square shape */
    height: 150px; /* Fixed height for square shape */
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    border-radius: 8px; /* Rounded corners for a modern look */
    /* border: 2px solid green; */
}

.box:hover {
    background-color: #e0f7fa;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.box.expanded {
    background-color: #e0f7fa;
    width: auto;
    height: auto;
    padding: 20px;
}

.details {
    display: none;
    text-align: left; /* Align text to the left for better readability */
}

.box.expanded .details {
    display: block;
}
.category-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.details.hidden {
    display: none;
}

.category-box.expanded .details {
    display: block;
}

